* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.nav {
  background-color: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
  height: 70px;
}

.nav-logo {
  width: 90px;
  max-width: 100px;
}

section {
  margin: 0 auto;
  padding: 10px 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero > img {
  width: 100%;
  max-width: 600px;
}

.hero > h2 {
  margin-bottom: 16px;
}

.hero-text {
  color: #222222;
  margin-top: 0;
}

.experiences {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; 
  display: flex; 
  flex-direction: column;
  position: relative;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  width: 100%;
  height: 234px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price{
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 4px;
  font-weight: bold;
}